
.franja-superior{
  background-color:#141528;
  height:10px;
}

#linea-superior {
height: 10px;
background-color:rgba(255,221,0,1);
/* margin-bottom: 25px;*/
}
body{
  font-family: Arial, Helvetica, sans-serif;
  
}
header{
  
  background: url(../../frontend/img/cabecera.png) repeat-x;
  padding-top: 20px;

}
.titular-principal{
  background: #C6DF45;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 25px;
  text-align: center;
  margin-top: 20px;
  padding: 5px 0;
}
.subtitular{
  font-size: 1.2rem;
  color: #C6DF45;
  font-weight: 700;
}
.subrayado{
  border-bottom: #C6DF45 4px solid;
}
.nombres-campos{
  font-size: 1.1rem;
  color:#595959;
  font-weight: 400;
}
.nombres-campos-bold{
  font-size: 0.8rem;
  color:#595959;
  font-weight: 700;
}
.espacio-superior
{
  margin-top: 25px;
}
.espacio-subtitular
{
  margin-top: 35px;
}
#alert img
{
  display: none;
}
.color-opcional-25
{
  background-color: #b5b5b5;
  padding: 25px 0;
}
.color-opcional-5
{
  background-color: #b5b5b5;
  padding: 5px 0;
}
.mayusculas
{
  text-transform: uppercase;
}
.cuadro_explicacion
{
  background-color: #abcedd;
  padding: 25px;
  border-radius: 10px;
  margin:25px 0;
}
.separacion-gracias
{
  margin-top: 50px;
}
#capa-extra
{
  padding: 25px 0;
}
.txt_explicacion
{
  font-size: 0.9rem;
}
.texto-normal
{
  font-size: 1.5rem;
  color: #064f79;
}
.link-gracias
{
  font-size: 1.5rem;
  color: #5a6e7a;
  text-decoration: none;
}
.link-gracias:hover
{
  color: #53c0e7;
  text-decoration: underline;
}

.separacion {
    border-bottom: 1px solid #959595;
    height: 3px;
    margin: 40px 0;
}



/*------------------------Dispositivo Moviles------------------------------------------------------------------------------------*/
/*------------------------569 - 768------------------------*/
@media only screen and (min-width: 569px) and (max-width: 768px) {
  }
/*------------------------FIN 569 - 768------------------------*/
/*------------------------321 - 568------------------------*/
@media only screen and (min-width: 321px) and (max-width: 568px) {
   }
/*------------------------FIN 321 - 568------------------------*/
/*------------------------320------------------------*/
@media only screen and (max-width: 320px) {
 .espacio-superior-dm
 {
  margin-top: 15px;
 } 
   }
/*------------------------FIN 320------------------------*/
/*------------------------FIN Dispositivo Moviles------------------------*/

a {
    color: #4c4b4b;
    text-decoration:none;
    background-color: transparent;
    
}

a {
    color: #4c4b4b;
    text-decoration:none;
    background-color: transparent;
    
}

a:hover{
   text-decoration:none;
   color:#6c757d;
}






  @media screen and (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #4a5661;
    background-color: #fff;
    border-color: #c9d1fa;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(84, 109, 240, 0.25); }
  .form-control::placeholder {
    color: #717d8a;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #f1f4f8;
    opacity: 1; }

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px); }

select.form-control:focus::-ms-value {
  color: #4a5661;
  background-color: #fff; }

.form-control-file,
.form-control-range {
  display: block;
  width: 100%; }

.col-form-label {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.25; }

.col-form-label-lg {
  padding-top: calc(0.75rem + 1px);
  padding-bottom: calc(0.75rem + 1px);
  font-size: 1.2rem;
  line-height: 1.5; }

.col-form-label-sm {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 0.8rem;
  line-height: 1.5; }

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  line-height: 1.25;
  color: #39424b;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0; }
  .form-control-plaintext.form-control-sm, .input-group-sm > .form-control-plaintext.form-control,
  .input-group-sm > .input-group-prepend > .form-control-plaintext.input-group-text,
  .input-group-sm > .input-group-append > .form-control-plaintext.input-group-text,
  .input-group-sm > .input-group-prepend > .form-control-plaintext.btn,
  .input-group-sm > .input-group-append > .form-control-plaintext.btn, .form-control-plaintext.form-control-lg, .input-group-lg > .form-control-plaintext.form-control,
  .input-group-lg > .input-group-prepend > .form-control-plaintext.input-group-text,
  .input-group-lg > .input-group-append > .form-control-plaintext.input-group-text,
  .input-group-lg > .input-group-prepend > .form-control-plaintext.btn,
  .input-group-lg > .input-group-append > .form-control-plaintext.btn {
    padding-right: 0;
    padding-left: 0; }

.form-control-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.2rem; }

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]) {
  height: calc(2.2rem + 2px); }

.form-control-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.4rem; }

select.form-control-lg:not([size]):not([multiple]), .input-group-lg > select.form-control:not([size]):not([multiple]),
.input-group-lg > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-lg > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-lg > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-lg > .input-group-append > select.btn:not([size]):not([multiple]) {
  height: calc(2.7rem + 2px); }


  hr{

    display: block;
    /*border: 1px dashed #4175b7;*/
    border-width: .2rem;
    border: solid #C6DF45;
    
}


.uno{
  background-image: url(../../frontend/img/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 10px;
  -webkit-background-size: cover;
}

 .form-signin {

     max-width:460px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border:4px solid #5e514e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);

   
}
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 20px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        
        margin-bottom: 15px;
        padding: 7px 9px;
      }
