
/* ============================= what_wrapper ====================== */

#what_wrapper{
    position: relative; 
    background: #f7f8f9;
}
#what{
    position: relative; 
    display: table; 
    width: 100%;
}
#what .left_box_wrapper{
    position: relative; 
    overflow: hidden; 
    display: table-cell; 
    width: 50%; 
    background: url(../../frontend/img/bg.jpg) center center no-repeat;
    background-size: cover; 
    vertical-align: middle;
}

#what .left_box{
    padding: 110px;
}


#what .right_box_wrapper{
    position: relative; 
    overflow: hidden; 
    display: table-cell; 
    width: 50%; 
    vertical-align: middle;
}

#what .right_box{padding: 70px;}
#what .right_box_inner{
    margin-left: -20px; 
    margin-right: -20px;
}

.what1{
    background: #35373e; 
    background: rgba(102, 106, 120, 0.6); 
    padding: 50px; 
    text-align: center; 
    color: #fff;
}

.what1 .ic1{margin-bottom: 10px;}
.what1 .ic1 i{
 font-size:50px; 
 line-height: 1;
}
.what1 .txt1{
    font-family: 'Montserrat'; 
    font-weight: 700; 
    font-size: 16px; 
    color: #fff; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.what1 .txt2{
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
    padding-bottom: 45px;
 }

.what2{
    position: relative; 
    margin-top: 15px; 
    margin-bottom: 15px;
}

.what2 a{
    display: block;
    text-decoration: none; 
    border: 2px solid transparent;
    padding:20px;
    transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -webkit-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out;
}

.what2 a:hover{
    border-color: #35373e;
}

.what2 a .ic1{
    margin-bottom: 10px; 
    color: #6e6e6f;
    transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -webkit-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out;
}


.what2 a:hover .ic1{
    color: #35373e;
}

.what2 a .ic1 i{ 
    font-size:40px; 
    line-height: 1;
}

.what2 a .txt1{
    font-family: 'Montserrat'; 
    font-weight: 400; 
    font-size: 12px; 
    color: #6e6e6f; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    padding-bottom: 5px;
    transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -webkit-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out;
}

.what2 a:hover .txt1{color: #35373e;}



/* ============================= main layout ====================== */



/*-----btn-----*/
.btn-default.btn0{ font-family: 'Montserrat'; display: inline-block; color: #fff; border: none; font-size: 12px; line-height: 20px; font-weight: 700; padding: 12px 20px; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: none; position: relative; border: 3px solid #fff; letter-spacing: 1px; margin: 0 5px;}
.btn-default.btn0:hover{color: #000; background: #fff;}

.btn-default.btn1{ font-family: 'Montserrat'; display: inline-block; color: #fff; border: none; font-size: 11px; line-height: 20px; font-weight: 700; padding: 8px 20px; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: none; position: relative; border: 2px solid #fff; letter-spacing: 1px;}
.btn-default.btn1:hover{color: #000; background: #fff;}

.btn-default.btn2{ font-family: 'Montserrat'; display: inline-block; color: #141414; border: none; font-size: 12px; line-height: 20px; font-weight: 700; padding: 0 30px 0 0; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: url(../images/btn2.png) right center no-repeat; position: relative; letter-spacing: 1px;}
.btn-default.btn2:hover{color: #000; text-decoration: underline;}

.btn-default.btn3{ font-family: 'Montserrat'; display: inline-block; color: #4c4b4b; border: none; font-size: 10px; line-height: 20px; font-weight: 700; padding: 2px 15px; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: none; position: relative; border: 2px solid #4c4b4b; letter-spacing: 1px;}
.btn-default.btn3:hover{color: #fff; background: #000; border-color: #000;}




.title2{text-align: center; color: #777777; font-size: 19px; margin-bottom: 15px;}

.title3{
    text-align:center; 
    color: #35373e; 
    font-weight: 700; 
    font-family: 'Montserrat'; 
    font-size:16px; 
    line-height: 1; 
    text-transform: uppercase; 
    padding-top: 0px; 
    padding-bottom: 30px; 
    margin-bottom: 15px; 
    background: url(../img/kand4.png) left bottom no-repeat; 
    letter-spacing: 2px;
}




/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1200px) {

}
/* Default landscape and desktop to large desktop */
@media (max-width: 1199px) {
  

  #what{display: block;}
  #what .left_box_wrapper{display: block; width: auto;}
  #what .right_box_wrapper{display: block; width: auto;}

  #what .left_box{padding: 70px;
  }

}
@media (min-width: 992px) {


}
@media (min-width: 992px) and (max-width: 1199px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {
  .navbar_ .nav > li{margin-left: 10px;}

  .mission .mission_inner .txt1{font-size: 35px;}
  .mission .mission_inner .txt2{font-size: 18px;}

  .front-slider{margin-top: -80px;}

  #services2{display: block;}
  #services2 .left_box_wrapper{display: block; width: auto;}
  #services2 .right_box_wrapper{display: block; width: auto; padding-bottom: 70%;}
  #services2 .left_box{padding: 50px 30px;}







}
@media (min-width: 768px) and (max-width: 991px) {
  .features .left_box{padding-top: 0px;}
  .features .right_box{ padding-top: 0px;}

  .features1{margin-bottom: 20px;}
  .features1 .ic1{margin-bottom: 5px;}
  .features1 .txt1{padding-bottom: 5px;}
  .features1 .txt2{font-size: 16px;}






}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {



  .services2:before{display: none;}
  .services2:after{display: block!important;}

  #what .left_box{padding: 30px;}

  #what .right_box{padding: 30px;}

  .features .left_box{text-align: center; padding-top: 0;}
  .features .right_box{text-align: center; padding-top: 0;}

  .gallery{margin-bottom: 20px;}
  .gallery figure{float: none; width: auto;}
  .gallery figure em{display: none;}
  .gallery .caption{float: none; width: auto; padding: 20px;}

  .content-part{padding-bottom: 25px;}

  .sidebar-part{padding-bottom: 25px;}







}
@media (min-width: 481px) and (max-width: 767px) {



}
/* Landscape phones and down */
@media (max-width: 480px) {


  #google_map {height: 240px;}

  .mission .mission_inner .txt3{display: none;}

  .front-slider{margin-top: -30px;}




}





.section {
    
    padding-top:80px;
    padding-bottom: 80px;
}