{% extends 'base.html' %}



{% block content %}
<body>

<br>
<br>
<br>
<br>
<br>


    <div class="card bg-light text-dark container mb-5">
        <h2>Generar</h2>
          <div class="card-body">
          
              <form method="POST" action="/generarPdf/" target="_blank"  id="formularioIngreso"> 
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Dni</label>
                      <input class="form-control"type="text" name="dni" autocomplete="off" required>
                    </div>
                  </div>
                    
                    </div>
                  <button type="submit" class="btn btn-primary" >PDF</button>
                </form>
      
      
          </div>
        </div>

</form>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>

{% endblock content %}