{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}

  <!-- Bootstrap core JavaScript -->

  <title>Inicio</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}"  rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}"  rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
    <link href="{% static "css/freelancer.min.css" %}"  rel="stylesheet">
 
</head>
{% endblock %}



{% include "navbar.html" %}
{% block javascript %}  

<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src={%static "vendor/jquery/jquery.min.js"%}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src={%static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script> 
     <script src={%static "vendor/jquery-easing/jquery.easing.min.js"%}></script>
     <script src={%static "vendor/bootstrap/js/bootstrap.min.js"%}></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
<script src={%static "js/jqBootstrapValidation.js"%}></script>
<script src={%static "js/contact_me.js"%}></script>
<script src={%static "js/freelancer.min.js"%}></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous" />

{% endblock %}

{% block content %}




 <!-- Navigation -->
  
  
 
 
 
    
  
  <!-- Masthead -->
  <header class="masthead bg-transparent text-white text-center">
 
  </header>
  
  
  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">


    </div>
  </section>

  <!-- About Section -->
  <section class="page-section bg-transparent text-white mb-0" id="about">
    <div class="container">

    </div>
  </section>



 


  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">


    </div>
  </section>
  

  {% endblock content %}







  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
     

        <!-- Footer Social Icons -->
      

        <!-- Footer About Text -->
   

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Your Website 2019</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->






</html>
