<nav class="navbar navbar-expand-lg  bg-secondary text-uppercase fixed-top " id="mainNav" >
    <div class="container">
      <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Inicio</a> -->
       <a class="navbar-brand js-scroll-trigger" href="{% url 'inicio' %}">Inicio</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-2">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/clientes/">Clientes</a>
          </li>
          <li class="nav-item dropdown mx-0 mx-lg-1">
        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded  " aria-expanded="true" aria-haspopup="true"   id="navbarDropdownMenuLink" data-toggle="dropdown" href="#" >Caja</a>        
        <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/cobros/">Cobros</a>
          <a class="dropdown-item" href="/pagos/">Pagos</a>
        </div>
      </li>
          <li class="nav-item dropdown mx-0 mx-lg-1">
        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3  rounded " aria-expanded="true" data-toggle="dropdown"  href="#">Formularios</a>        
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/minutas/">minutas</a>
          <a class="dropdown-item" href="/otros/">otro</a>
        </div>
      </li>
        </ul>
      </div>
    </div>
  </nav>
  