<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Nombre:  {{nombre}}</h1>
<h1>Apellido: {{apellido}}</h1>
<h1>Fecha de Nacimiento {{fechaNacimiento}}</h1>

    
   
</body>
</html>