
{% extends 'base.html' %}
{% load static %}




{% block content %}
<br><br><br><br><br> <br>
<body>
  

  <div class="card bg-light text-dark container mb-5">
    <div class="card-body ">
        <form method="POST" action="/cargarDatosPersonales/" id="formularioIngreso" > 
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" class="form-control" name="nombre" autocomplete="off" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Apellido</label>
                <input type="text" class="form-control" name="apellido" autocomplete="off" required>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">DNI</label>
                  <input class="form-control" type="number" name="dni" autocomplete="off" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Domicilio</label>
                  <input type="text"  class="form-control" name="domicilio" autocomplete="off" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Teléfono</label>
                  <input  class="form-control" name="telefono" autocomplete="off" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Celular</label>
                  <input  class="form-control" type="number" name="celular" autocomplete="off" required >
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputEmail4">Correo</label>
                  <input  class="form-control" type="email" name="correo" autocomplete="off" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="fechaNacimiento">Fecha de Nacimiento</label>
                  <input type="date" class="form-control" name="fechaNacimiento" autocomplete="off" required>
                </div>
              </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>


    </div>
  </div>


  <table class=" table">
    <thead>
      <tr><th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Domicilio</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Accion</th>
    </tr></thead>
    <tbody id="insertarPersonaTabla">
    </tbody>
</table>





<!-- Modal -->
<div class="modal fade" id="modalPersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar datos personales</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h2>CLIENTES</h2>
            <form action="/actualizarPersona/" id="formularioEditar" method="POST">
                {% csrf_token %}
            <div class="" >
                <input type="hidden" name="id" id="idPersona" autocomplete="off" >
              </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="editarNombre" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Apellido</label>
                <input type="text" class="form-control" name="apellido" id="editarApellido" autocomplete="off" >
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Dni</label>
                <input type="text" class="form-control" name="dni" id="editarDni" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Domicilio</label>
                <input type="text" class="form-control" name="domicilio" id="editarDomicilio" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Teléfono</label>
                <input type="text" class="form-control" name="telefono" id="editarTelefono" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Celular</label>
                <input type="text" class="form-control" name="celular" id="editarCelular" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Correo</label>
                <input type="email" class="form-control" name="email" id="editarEmail" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Fecha de Nacimiento</label>
                <input type="date"   class="form-control" name="fechaNacimiento" id="editarFechaNacimiento" autocomplete="off">
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardarCambios();">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>







<script>
    var csrftoken = '{{ csrf_token }}';
  </script>
   
      <script src="{% static 'js/funciones.js' %}"></script>

 </body>   
  {% endblock content %}
