fieldset{
	width: 750px;
	margin: 10px auto;
	color: #444;
	border: 5px solid #ccc;
	font-family: Helvetica;
	padding: 15px;
}

h1{
	text-align: center;
}

p.sub-titulo{
	font-size: 20px;
}

.direita{
	text-align: right;
}

.center{
	text-align: center;
}

table.items {    font-size: 9pt;border-collapse: collapse; border: 3px solid #880000;background-color: #FFFFFF;}td { vertical-align: top;}table thead td { background-color: #EEEEEE;      text-align: center;}table tfoot td { background-color: #AAFFEE;      text-align: center;}