body{
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* BARRA LATERAL */
.barra-lateral {
    background: #0a1744f1;
    color: #ffff;
    min-width: 300px;
    min-height: 100vh; /* aca la decimos que abarque el 100% del alto del navegador */
    padding: 0;
}

.barra-lateral a{
    color: #ffff;
}

/* LOGO*/
.cabecera .logo{
    background: #051133;
    margin-bottom: 2px;
}

.cabecera h2{
    font-family: 'Oswald',sans-serif;
    padding: 30px;
    justify-content: end;
    height: 100px;
    width: 300px;
}
.columna{
    height: 100px;
}

.barra-lateral .logo h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}
 
.links a{
    font-family: 'Roboto', sans-serif;
}
/* MENU */

.barra-lateral .menu a{
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover{
    background: #115ccc;
    text-decoration: none;
}

.barra-lateral .menu a i {
    margin-right: 20px;
    font-weight: normal;
}

.cabecera {
    background: #020611f1;
    /*text-align: center;*/
    /*padding: 30px;*/
    height: 100px;
}

.asd {
    background: #020611f1;
    /*text-align: center;*/
    /*padding: 30px;*/
    height: 100px;
}

/*
.cabecera div{
    justify-content: start;
    font-family: 'Oswald', sans-serif;
}
*/

.login {
    padding-top: 100px;
}

.tabla1{
    align-items: center;
}
