
{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br><br><br><br> <br>
<body >
  <div class="card bg-light text-dark container mb-5">
  <h2>Pagos</h2>
    <div class="card-body">
    
        <form method="POST" action="/cargarPago/" id="formularioIngreso"> 
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Concepto</label>
                <input type="text" class="form-control" name="concepto" autocomplete="off" required>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Monto</label>
                  <input class="form-control"type="number" name="monto" autocomplete="off" required>
                </div>
               
              </div>
             
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Observacion</label>
                  <textarea class="form-control" name="observacion" id="Observacion" autocomplete="off"></textarea>
                  
                </div>
         
              </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>


    </div>
  </div>


  <table class=" table" style="display:none">
    <thead>
      <tr><th>Concepto</th>
      <th>Apellido</th>
      <th>monto</th>
      <th>Domicilio</th>
      <th>Celular</th>
      <th>Observacion</th>
      <th>Telefono</th>
      <th>Accion</th>
    </tr></thead>
    <tbody id="insertarPersonaTabla">
    </tbody>
</table>





<!-- Modal -->
<div class="modal fade" id="modalPersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar datos personales</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/actualizarPersona/" id="formularioEditar" method="POST">
                {% csrf_token %}
            <div class="" >
                <input type="hidden" name="id" id="idPersona" autocomplete="off" >
              </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Concepto</label>
                <input type="text" class="form-control" name="Concepto" id="editarNombre" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Apellido</label>
                <input type="text" class="form-control" name="apellido" id="editarApellido" autocomplete="off" >
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">monto</label>
                <input type="text" class="form-control" name="monto" id="editarDni" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Domicilio</label>
                <input type="text" class="form-control" name="domicilio" id="editarDomicilio" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput">Teléfono</label>
                <input type="text" class="form-control" name="telefono" id="editarTelefono" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Celular</label>
                <input type="text" class="form-control" name="celular" id="editarCelular" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Observacion</label>
                <input type="email" class="form-control" name="email" id="editarEmail" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Fecha de Nacimiento</label>
                <input type="date"   class="form-control" name="fechaNacimiento" id="editarFechaNacimiento" autocomplete="off">
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardarCambios();">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>


<br><br><br><br><br><br>

<script>
    var csrftoken = '{{ csrf_token }}';
  </script>
   
      <!-- <script src="{% static 'js/funciones.js' %}"></script> -->
    </body>
  {% endblock content %}