#linea-superior
{
	height: 10px;
	background-color: #4175b7;
	/*margin-bottom: 25px;*/
	
}
.navbar{
	
	margin-bottom: 25px;
	color: #fff;
}
.navbar-nav li {
    padding-right:15px;
}
.cuadro-azul
{
	background-color: #4dc0e8;
	padding: 25px 0;
	border-radius:5px;
	margin:35px 0 25px 0;
}
#texto-primero
{
	height: auto;
	overflow: hidden;
}
.texto-principal
{
	font-family: "Anton", sans-serif;
	font-size: 3rem;
	color: #fff;
	text-align: center;
}
.texto-secundario
{
	font-family: "Oswald", sans-serif;
	font-size: 3rem;
	color: #4376b8;
	text-align: center;
}
.separacion
{
	border-bottom: 1px solid #959595;
	height: 3px;
	margin:40px 0;
}
.icono{
	font-size:21px;
	color:rgba(255,255,255,.5);
}

.ico-fb
{
	color: #324479 !important;
	text-decoration: none;
	font-size: 2rem;
}
.ico-tw
{
	color: #339cc5 !important;
	text-decoration: none;
	font-size: 2rem;
}
.ico-wa
{
	color: #2fbe39 !important;
	text-decoration: none;
	font-size: 2rem;
}
.ico-link
{
	color: #706f6f !important;
	text-decoration: none;
	font-size: 2rem;
}
.ico-link:hover
{
	color: #4dc0e8 !important;
	text-decoration: none;
	font-size: 2rem;
}
.ico-fb:hover,
.ico-tw:hover,
.ico-wa:hover 
{
	color: #706f6f !important;
	text-decoration: none;
	font-size: 2rem;
}
.link-redes
{
	color: #706f6f !important;
	text-decoration: none;
	font-size: 1.5rem;
	font-family: "Oswald", sans-serif;
}
.link-redes:hover
{
	color: #4dc0e8 !important;
	text-decoration: none;
	font-size: 1.5rem;
}
/*------------------------Dispositivo Moviles------------------------------------------------------------------------------------*/
/*------------------------569 - 768------------------------*/
@media only screen and (min-width: 569px) and (max-width: 768px) {
	
  }
/*------------------------FIN 569 - 768------------------------*/
/*------------------------321 - 568------------------------*/
@media only screen and (min-width: 321px) and (max-width: 568px) {
	.texto-principal
	{
		font-size: 3rem;
	}
	.texto-secundario
	{
		
		font-size: 2rem;
	}
	.separacion
	{
		margin:25px 0;
	}
   }
/*------------------------FIN 321 - 568------------------------*/
/*------------------------320------------------------*/
@media only screen and (max-width: 320px) {
	.texto-principal
	{
		font-size: 3rem;
	}
	.texto-secundario
	{
		
		font-size: 2rem;
	}
	.separacion
	{
		margin:25px 0;
	}
	.ico-fb
	{
		font-size: 1.5rem;
	}
	.ico-tw
	{
		color: #339cc5 !important;
		text-decoration: none;
		font-size: 1.5rem;
	}
	.ico-wa
	{
		color: #2fbe39 !important;
		text-decoration: none;
		font-size: 1.5rem;
	}
	.ico-link
	{
		color: #706f6f !important;
		text-decoration: none;
		font-size: 1.5rem;
	}
	.ico-link:hover
	{
		color: #4dc0e8 !important;
		text-decoration: none;
		font-size: 1.5rem;
	}
	.ico-fb:hover,
	.ico-tw:hover,
	.ico-wa:hover 
	{
		color: #706f6f !important;
		text-decoration: none;
		font-size: 1.5rem;
	}
	.link-redes
	{
		color: #706f6f !important;
		text-decoration: none;
		font-size: 1.4rem;
		font-family: "Oswald", sans-serif;
	}
	.link-redes:hover
	{
		color: #4dc0e8 !important;
		text-decoration: none;
		font-size: 1.5rem;
	}
} 
/*------------------------FIN 320------------------------*/
/*------------------------FIN Dispositivo Moviles------------------------*/

/*# sourceMappingURL=estilos.css.map */


/* Footer */
footer {
	background-color: #f6b92a;
	font-size:15px;
	padding:20px 0;
	margin-top:60px;
}

	footer ul {
		margin-bottom: 0;
	}

	footer a:hover {
		color: #fff;
		text-decoration: none;
	}


/* Footer sidebars */
.sidebars-zone {
	background-color: #e0e0e0;
	padding-top: 20px;
}
	.sidebars-zone h4 {
		font-size: 20px;
		border-bottom: 1px solid #9e9e9e;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	.sidebars-zone a {
		margin-bottom: 18px;
		display: block;
	}

	.sidebars-zone a:hover {
		color: #000;
	}

	


/* Helpers */
.mar-top-80 {
	margin-top: 80px;
}

a {
    color: #4c4b4b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


.separacion {
    border-bottom:3px solid #959595;
    height: 3px;
    margin: 40px 0;
}